
<div id="index-background" class="row col-6">
  <div class="row">
    <% @travels.each do |travel| %>
    <div class="card d-flex shadow-sm p-3 mb-5 bg-body-tertiary rounded">
      <%= cl_image_tag travel.picture.key, height: 300, width: 100, crop: :fill, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= travel.name %></h5>
        <p class="card-text"><%= travel.description %></p>
      </div>
      <div class="card-details">
        <ul>
          <li><%= travel.price %> <i class="fa-solid fa-euro-sign"></i></li>
          <li> <i class="fa-solid fa-skull-crossbones"></i> <%= travel.perilousness %>/10 </li>
          <li> <i class="fa-solid fa-person"></i> <%= travel.number_of_travelers %> </li>
        </ul>
      </div>
      <%= link_to "Booker ce voyage",  new_travel_booking_path(travel, @booking), class: "btn-card"%>
    </div>
    <% end %>
  </div>
</div>
