<div class="forms">
  <div class="background_log">
    <div class="shape_2 mt-4"></div>
    <div class="shape_2 mt-4"></div>
</div>
<div class="formulaire_3 mt-4">
  <h3>Create a new trip</h3>

<div id="label_login">

<%= simple_form_for(@travel) do |f| %>
    <%= f.input :name %>
    <%= f.input :picture, as: :file %>
    <%= f.input :address %>
    <%= f.input :period %>
    <%= f.input :perilousness %>
    <p><em>sur une échelle de 1 à 10</em></p>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :duration %>
    <%= f.input :number_of_travelers %>
    <%= f.button :submit, "Create", class:"btn-flat-navbar"%>
  <% end %>
</div>
</div>

</div>
