<div class = "container-show">
  <div class="container-show-description">
    <div class="card-travel">
      <div class = "img-card">
      <%= cl_image_tag @travel.picture.key, class:"rounded" %>
      </div>
      <h1> <%= @travel.name %> </h1>
      <h4><%= @travel.description %></h4>
      <div class = "card-travel-picto">
        <div class = "card-travel-picto1">
          <ul>
            <li> <i class="fa-solid fa-map-location-dot"></i> <%= @travel.address %> </li>
            <li> <i class="fa-solid fa-timeline"></i> <%= @travel.period %> </li>
            <li> <i class="fa-solid fa-skull-crossbones"></i> <%= @travel.perilousness %> /10 </li>
          </ul>
        </div>
        <div class = "card-travel-picto2">
          <ul>
            <li> <i class="fa-solid fa-coins"></i> <%= @travel.price %>€ </li>
            <li> <i class="fa-regular fa-clock"></i> <%= @travel.duration %> days </li>
            <li> <i class="fa-solid fa-person"></i> <%= @travel.number_of_travelers %> </li>
          </ul>
        </div>
      </div>

    </div>
    <div class ="card-travel-formulaire">
     <% if @travel.user != current_user %>
      <h2>Book this trip</h2>

      <% if user_signed_in? %>

        <% bookings = current_user.bookings.where(travel_id: @travel.id) %>
        <% if bookings.empty? %>
          <%= simple_form_for [@user, @travel, @booking] do |f| %>
              <%= f.input :date_of_beginning,
                          as: :string,
                          input_html: { data: { controller: "datepicker" } } %>
              <%= f.input :date_of_ending,
                          as: :string,
                          input_html: { data: { controller: "datepicker" } } %>
              <%= f.input :number_of_people %>
              <%= f.submit%>
              <% end %>

        <% else %>
        <% rejected_bookings = bookings.where(status: "rejected") %>
          <% if rejected_bookings.empty? %>
            <p>Sorry, you <strong>already have a booking</strong> for this trip.</p>
            <p>Details of your booking : </p>
            <ul>
              <li>Dates : from <%= bookings.first.date_of_beginning.strftime("%e %B %Y") %> to <%= bookings.first.date_of_ending.strftime("%e %B %Y") %> </li>
              <li>Status : <strong><%= bookings.first.status %></strong></li>
            </ul>

          <% else %>
            <%= simple_form_for [@user, @travel, @booking] do |f| %>
              <%= f.input :date_of_beginning,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
              <%= f.input :date_of_ending,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
              <%= f.input :number_of_people %>
              <%= f.submit%>
              <% end %>
          <% end %>
        <% end %>

      <% else %>
      <div class= "link-formulaire">
        <%= link_to "Log in", new_user_session_path%> or <%= link_to "Sign up", new_user_registration_path%>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
