<h1> <%= @travel.name %> </h1>

<%# <% if user_signed_in? %>
  <%# <% if current_user.bookings.include?(@travel_id) %>


<%# <% else %>
  <%= cl_image_tag @travel.picture.key, height: 300, width: 400, crop: :fill %>
  <ul>
    <li> address :  <%= @travel.address %> </li>
    <li> period :  <%= @travel.period %> </li>
    <li> perilousness :  <%= @travel.perilousness %> /10 </li>
    <li> description :  <%= @travel.description %> </li>
    <li> price :  <%= @travel.price %>€ </li>
    <li> duration :  <%= @travel.price %> days </li>
    <li> number_of_travelers :  <%= @travel.price %> </li>
  </ul>
  <%# <%= link_to "Booker this trip",  new_travel_booking_path(@travel, @booking)%>
<%# <% end %>

<% if @travel.user != current_user %>
  <h2>Book this trip</h2>

  <% if user_signed_in? %>
  <%= simple_form_for [@user, @travel, @booking] do |f| %>
      <%= f.input :date_of_beginning,
                  as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
      <%= f.input :date_of_ending,
                  as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
      <%= f.input :number_of_people %>
      <%= f.submit%>
    <% end %>

  <% else %>
    Log in to book this trip
    <%= link_to "Log in", new_user_session_path%>
  <% end %>
<% end %>

