
<div class = "main_container-dashboard">
  <h1 style="font-family:impact;"> WELCOME <%= @user.first_name.upcase %> <%= @user.last_name.upcase %>  </h1>
  <div class= "general-trips" >
    <h2 style="font-family:impact;">MY TRIPS</h2>
    <div class="dashboard-trips">
      <% if @travels.length > 0 %>
      <% @travels.each do |travel| %>
      <div class = "dashboard-trips-description">
          <div class= "dashboard-trips-description-card">
              <%= cl_image_tag travel.picture.key %>
                <h3 class="card-title"><%= travel.name.upcase %></h5>
                <%= link_to "See the trip", travel_path(travel), class:"btn-flat" %>
                <% number = travel.bookings.where(status:"pending").all %>
                <% length = number.length %>
                <p class="card-text">You have <strong> <%=length%></strong> pending booking requests for this trip</p>
                      <div class = "container-list">
                        <% if travel.bookings.length > 0 %>
                          <% travel.bookings.each do |booking|%>
                            <% if booking.status == "pending" %>
                          <ul class="list-group list-group-flush">
                          <li class="list-group-item"><%= booking.user.first_name %> <%= booking.user.last_name %>  wants to book this trip from <%= booking.date_of_beginning.strftime("%e %B %Y") %> to <%= booking.date_of_ending.strftime("%e %B %Y") %>
                            <br>
                           <i class="fa-solid fa-check"></i> <%= link_to "ACCEPT ", booking_path(id: booking.id, status: "validated"), data: {turbo_method: :patch}, class:"a-souligne" %>
                            <br>
                           <i class="fa-solid fa-xmark"></i> <%= link_to "REJECT", booking_path(id: booking.id, status: "refused"), data: {turbo_method: :patch}, class:"a-souligne" %>
                          </li>
                        </ul>


                        <% elsif booking.status == "validated"%>
                          <p>Booking confirmed on this trip for <%= booking.user.first_name %> <%= booking.user.last_name %> from <%= booking.date_of_beginning.strftime("%e %B %Y") %> to <%= booking.date_of_ending.strftime("%e %B %Y") %></p>
                        <% else %>
                          <p>Booking rejected on this trip for <%= booking.user.first_name %> <%= booking.user.last_name %> from <%= booking.date_of_beginning.strftime("%e %B %Y") %> to <%= booking.date_of_ending.strftime("%e %B %Y") %></p>
                        <% end %>
                      <% end %>
                    <% else  %>
                    </div>
                    <% end %>
                 <% end %>
          </div>
      </div>

    </div>
  </div>

    <div class = "no-trip">
    <% else %>
      <p>You have no trip created</p>
      <%= link_to "Create a trip", new_travel_path, class: "btn-flat"%>
    <% end %>
    </div>
  </div>
  <div class="general-booking">
    <h2 style="font-family:impact;">MY BOOKINGS</h2>
    <div class="dashboard-booking">
          <% if @bookings.length > 0 %>
            <% @bookings.each do |booking| %>
            <div class="dashboard-booking-description">
              <div class="dashboard-booking-description-card">
                <%= cl_image_tag booking.travel.picture.key %>
                    <h3 class="card-title"><%= booking.travel.name.upcase%></h5>
                    <p><i class="fa-regular fa-calendar"></i> From <%= booking.date_of_beginning.strftime("%e %B %Y") %> to <%= booking.date_of_ending.strftime("%e %B %Y") %></p>
                    <p class="card-text">Booking status :
                      <% if booking.status == "pending" %>
                        <strong>pending</strong>
                      <% elsif booking.status == "validated" %>
                        <strong>confirmed</strong>
                      <% else %>
                        <strong>rejected</strong>
                      <% end %></p>
              </div>
              <div id = "btn-booking-link">
                <%= link_to "See the trip", travel_path(booking.travel), class:"btn-flat" %>
              </div>
            </div>
            <% end %>
          <% else %>
            <p>You have no booking</p>
            <%= link_to "Book a new trip", travels_path, class: "btn-flat" %>
          <% end %>
      </div>
  </div>
</div>
